* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px repeat(13, 100px);
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/15;
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 100px repeat(11, 50px);
    padding-left: 50px;
    color: white;
    
}

.sidebar > h2:nth-of-type(1){
    grid-row: 2/3;
}

.header {
    display: grid;
    grid-template-columns: 0.04fr 0.1fr 1.2fr 0.1fr repeat(2, 0.1fr) 0.15fr 0.05fr;
    justify-content: center;
    align-items: center;
}

.searchicon {
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-self: center;
    grid-column: 2/3;
}

.bell {
    background-color: violet;
    width: 20px;
    height: 20px;
    grid-column: 5/6;
    justify-self: center;
}

.headerpfp {
    width: 40px;
    height: 40px;
    background-color: red;
    grid-column: 6/7;
    justify-self: center;
    border-radius: 50%;
}

input[type='search'] {
    appearance: none; 
    border-radius: 50px;
    height: 30px;
    border: none;
    background-color: #E2E8F0;
    grid-column: 3/4;
}

input[type='search']:focus {
    outline: none;
}

.header > p {
    grid-column: 7/8;
    justify-self: center;
    font-weight: bolder;
}

.header2 {
    display: grid;
    grid-template-columns: 0.7fr 3fr 0.7fr 0.7fr 0.7fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.6);
    align-items: center;
    z-index: 1;
}

.header2pfp {
    background-color: purple;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    grid-row: 1/3;
    justify-self: center;
}

.header2textcontainer > p:nth-of-type(1) {
    font-size: 15px;
    font-weight: 600;
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0px;
}

.header2textcontainer > p:nth-of-type(2) {
    font-size: 28px;
    font-weight: bold;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0px;
}

.header2textcontainer {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.header2 > button {
    appearance: none;
    border: none;
    background-color: #1992D4;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    padding: 13px 30px;
}

.header2 > button:nth-of-type(1){
    grid-column: 3/4;
    grid-row: 1/3;
}

.header2 > button:nth-of-type(2) {
    grid-column: 4/5;
    grid-row: 1/3;
}

.header2 > button:nth-of-type(3) {
    grid-column: 5/6;
    grid-row: 1/3;
}

.content {
    display: grid;
    grid-row: 3/15;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(3, 4fr);
    background-color: #E2E8F0;
    padding-bottom: 50px;
}

.projects {
    display: grid;
    grid-area: 1 / 1 / 5/ 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 1fr);
    padding-left: 10px;
    gap: 30px 25px;
}

.projects > h3 {
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: start;
    margin-left: 15px;
    margin-top: 75px;
}

.project {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
    border-left: goldenrod solid 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
    height: 0.5fr;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
}

.projecticon {
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon1,
.icon2,
.icon3 {
    grid-row: 3/4;
}

.icon1
 {
    grid-column: 2/3;
    justify-self: center;
}


.icon2
 {
    grid-column: 3/4;
    justify-self: center;
}


.icon3 {
    grid-column: 4/5;
    justify-self: center;
}

.projecttext {
    grid-column: 1/5;
}

.project > p {
    margin-top: -15px;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}

.project1 {
    grid-row: 2/3;
}

.project2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.project3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.project4 {
    grid-row: 3/4;
}

.project5 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.project6 {
    grid-row: 4/5;
}

.announcements {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
}

.announcementstextcontent {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    width: 70%;
    height: 500px;
    margin-top: 18px;
    display: grid;
    align-self: center;
}

#announcement1 > p {
    border-bottom: 1px gray solid;
    padding-bottom: 20px
}

#announcement2 > p {
    border-bottom: 1px gray solid;
    padding-bottom: 20px
}

#announcement3 > p {
    border: none;
}

.projecttext >  p,
.announcement > p {
    color: rgb(94, 94, 94);
}

.announcements > h3 {
    margin-left: 33px;
    position: relative;
    top: 21px;
}

.trending {
    display: flex;  
    flex-direction: column;
    grid-area: 2 / 3 / 3 / 4;
}

.usercontainer {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 14px;
    width: 70%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.usercontainer {
    align-self: center;
}

.trending > h3 {
    margin-left: 33px;
}

.userpfp {
    background-color: aquamarine;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-self: center;
}

#userpfp1 {
    grid-row: 1/2;
}

#userpfp2 {
    grid-row: 2/3;
}

#userpfp3 {
    grid-row: 3/4;
}

#userpfp4 {
    grid-row: 4/5;
}

#user1 {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-self: end;
    margin-left: 10px;
    margin-bottom: 4px
}

#user2 {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-self: end;
    margin-left: 10px;
    margin-bottom: 4px
}

#user3 {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-self: end;
    margin-left: 10px;
    margin-bottom: 4px
}

#user4 {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-self: end;
    margin-left: 10px;
    margin-bottom: 4px
}

.user h5 {
    margin: 0px;
    font-size: 15px;
}

.user p {
    margin-top: 0;
}